<p id="notice"><%= notice %></p>

<h1>Courses</h1>


    <% raw @course.description %>
        <td><%= @course.name %></td>
        <td><%= @course.price %></td>
        
<%= form_tag charges_path, id:'chargeForm' do %>

<% if flash[:error].present? %>
<div id="error_explanation">
<p><%= flash[:error] %></p>
</div>
<% end %>

<script src="https://checkout.stripe.com/checkout.js"></script>
<%= hidden_field_tag 'stripeToken'%>
<%= hidden_field_tag 'amount',@course.price_in_cents %>
<%= hidden_field_tag 'stripeEmail'%>
<button id="btn-buy" type="button" class="btn btn-success btn-lg btn-block"><span class="glyphicon 
glyphicon-ok"></span>Pay</button>

<script>
  var handler = StripeCheckout.configure({
    key: '<%= Rails.configuration.stripe[:publishable_key]%>',
    token: function(token, arg){
      document.getElementById("stripeToken").value=token.id;
      document.getElementById("stripeEmail").value=token.email;
      document.getElementById("chargeForm").submit();
    }
  });
  document.getElementById("btn-buy").addEventListener('click',function(e){
        handler.open({
          name: 'learn rails',
          description: '<%= @course.name %> ($<%= @course.price %>)',
          amount: document.getElementById("amount").value 
        });
        e.preventDefault();
  })
  </script>
<% end %>
       

<br>

<%= link_to 'New Course', new_course_path %>
