<p id="notice" class="alert-danger"><%= notice %></p>
  <div class="table-responsive">

  <!--Table-->
  <table class="table">
    <!--Table head-->
    <thead>
      <tr>
        <th>ID</th>
        <th class="th-lg">Learner</th>
        <th class="th-lg">Course Name</th>
        <th class="th-lg">Amount</th>
        <th class="th-lg">Payment Date</th>
        <th class="th-lg" colspan=3> actions</th>
      </tr></td>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <th scope="row"><%= payment.id %></th>
        <td><%= payment.email %></td>
        <td><%= payment.description %></td>
        <td><%= payment.amount %>Rwfs</td>
        <td><%= payment.created_at %></td>
        <td><%= link_to 'Show', payment,class:'btn-sm btn-info' %></td>
        <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' },class:'btn-sm btn-danger' %></td>
      </tr>

    </tbody>
    <!--Table body-->
    <% end %>
  </table>
</div>


