<p id="notice"><%= notice %></p>
 <link href="https://vjs.zencdn.net/7.5.5/video-js.css" rel="stylesheet" />

  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
 <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
 
<script src="https://vjs.zencdn.net/7.5.5/video.js"></script>


  <!--Main Navigation-->

    <!--Main layout-->
    <main>
        <div class="container-fluid">

            <!--Section: Modals-->
            <section>
            </section>
            <!--Section: Modals-->

            <!--Section: Main panel-->
            <section class="card card-cascade narrower mb-5">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-5">

                        <!--Panel Header-->
                        <div class="view view-cascade py-3 gradient-card-header info-color-dark">
                            <h5 class="mb-0"><%= @course.name %></h5>
                        </div>
                        <!--/Panel Header-->

                        <!--Panel content-->
                        <div class="card-body">

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-6 mb-4">

                                    <!--Date select-->
                                    <p class="lead">
                                        <span class="badge info-color-dark p-2">Course Description</span>
                                    </p>

                                    <p><%= @course.description %></p>
                                    <!--Date pickers-->
                                    <p class="lead my-4">
                                        <span class="badge info-color-dark p-2">Published By</span>
                                    </p>
                                    <div class="md-form">
                                        <label for="date-picker-example"><%= @course.user.email %></label>
                                    </div>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-6 mb-4 text-center">

                                    <!--Summary-->
                                    <p class="lead">
                                        <span class="badge info-color-dark p-2">Published date</span>
                                    </p>
                                    <p><%= @course.created_at %></p>
                                    <p class="lead">
                                        <span class="badge info-color-dark p-2">Course Price</span>
                                    </p>
                                    <p><%= @course.price %>$</p>

                                    
                                    <h5>
                                        <span class="badge green p-2">
                                          <p>Enjoy It <%= current_user.names%></p>
                                          <i class="fa fa-arrow-circle-up ml-1"></i>
                                        </span>
                                    </h5>
                                </div>
                                <!--Grid column-->
                            </div>
                            <!--Grid row-->
                        </div>
                        <!--Panel content-->
                    </div> 
                    <!--Grid column-->
                    <div class="col-md-7">
                      
                      <div class="view view-cascade py-3 gradient-card-header info-color-dark mb-4">
                        <div style="width:100%; height:auto;margin-left:50px">
                          <%=video_tag(url_for(@course.clip),controls:'', style:'width:700px;height:300px') %>
                        </div>                       
                      </div>  
                    </div>
                    
                </div>
                <!--Grid row-->
            </section>
            <!--Section: Main panel-->

            <!--Section: Table-->
            <section class="mb-5">

                <!--Top Table UI-->
                <div class="card p-2 mb-5">

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <% if current_user.email==@payment.email %>
                        <div class="col-lg-3 col-md-12">
                          <p class="lead">
                          
                          <span class="badge info-color-dark p-2">Thank you for paying to learn <%= @course.name%></span>
                          </p>
                          
                        </div>
                        <% end %>
                    </div>
                    <!--Grid row-->

                </div>
             </main>