<p id="notice" class="alert-danger" role="alert"><%= notice %></p>
  <main>
    <div class="container-fluid text-center">
      <!--Card-->
      <div class="card card-cascade wider reverse my-4 pb-5">
        <!--Card image-->
        <div class="view view-cascade overlay wow fadeIn" style="height:300px">
          <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(135).jpg" class="img-fluid">
          <a href="#!">
            <div class="centered">
              
            <p class="c">Join The World Of Passionate Programmers</p>
      
          </div>
          </a>
          </a>
        </div>
        <!--/Card image-->
        <p class="p"><%= t('view.Scroll_To_See_All_Courses') %></p>
      </div>
      <!--/.Card-->
    </div>
    <!--Main layout-->
    <div class="card p-2 mb-5">

                    <!--Grid row-->
      <div class="row">

          <!--Grid column-->
          <div class="col-lg-3 col-md-12">  
            <p class="lead">
              <span class="badge info-color-dark p-2">Search Courses</span>
            </p>
          </div>
          <div class="col-lg-3 col-md-6">
              <%= search_form_for @q do |f| %>
              <%= f.search_field :name_cont,class:"form-control my-0 py-0 search",placeholder:t('view.Search'), style:"float:left" %>
                <button class="btn btn-sm btn-info ml-2 px-2">
                  <i class="fa fa-search"></i>
                </button>
              <% end %>
          </div>
          <% if current_user && current_user.user_type=="admin"%>
          <div class="col-lg-3 col-md-12">  
            <p class="lead">
              <%= link_to t('view.New Course'), new_course_path,class:"btn btn-ouline-link",style:'foat:right'  %>
            </p>
          </div>
          <% end %>
        </div>
      </div>
  </main>
  <!--/Main layout-->

<main class="mt-5">
    <!--Main container-->
    <div class="container">
      <div class="row">
       <% @courses.each do |course| %>
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
          <!--Card-->
          <div class="card">

            <!--Card image-->
            <div class="view overlay">
              <video id="my-video" class="video-js" controls preload="auto" width="640"
               height="264" download="true" poster="<%= url_for(course.thumbnail) %>" data-setup="{}">
                <source src="<%= url_for(course.clip) %>" type="video/mp4"/></video>
                  <a style="background:red"><%=link_to 'Pay To Watch', course,class:"mask rgba-white-slight", style:"text-decoration:none;color:indigo;"%></a>
            </div>

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title"><%= course.name %></h4>
              <!--Text-->
              <p class="card-text"><%= course.description %>
              <p class="card-text">Price:<%= course.price %>$</p>
              <p class="card-text">Posted By:<%= course.user.names %></p>
              <%= link_to t('view.Show'), course,class:"btn btn-outline-info btn-sm" %>
              <% if current_user && current_user.user_type=="admin"%>
                <%= link_to t('view.Edit'), edit_course_path(course),class:"btn btn-outline-success btn-sm" %>
                <%= link_to t('view.Destroy'), course, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-outline-danger btn-sm" %>
              <% end %>
            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->
         <% end %>
         <%= paginate @courses %>
    </div>
    <!--Main container--> 
  </main>
  
