<p id="notice"><%= notice %></p>
  <main>
    <div class="container-fluid text-center">
      <!--Card-->
      <div class="card card-cascade wider reverse my-4 pb-5">
        <!--Card image-->
        <div class="view view-cascade overlay wow fadeIn">
          <p>All Courses</p>
          <a href="#!">
          </a>
          </a>
        </div>
        <!--/Card image-->
      </div>
      <!--/.Card-->
    </div>
  </main>
  <!--/Main layout-->

<main class="mt-5">
    <!--Main container-->
    <div class="container">
      <div class="row">
       <% @courses.each do |course| %>
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
          <!--Card-->
          <div class="card">

            <!--Card image-->
            <div class="view overlay">
              <video id="my-video" class="video-js" controls preload="auto" width="640"
               height="264" download="true" poster="<%= url_for(course.thumbnail) %>" data-setup="{}">
                <source src="<%= url_for(course.clip) %>" type="video/mp4"/></video>
                  <a style="background:red"><%=link_to 'Pay To Watch', course,class:"mask rgba-white-slight", style:"text-decoration:none;color:indigo;"%></a>
            </div>

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title"><%= course.name %></h4>
              <!--Text-->
              <p class="card-text"><%= course.description %>
              <p class="card-text">Price:<%= course.price %>$</p>
              <p class="card-text">Posted By:<%= course.user.names %></p>
              <%= link_to 'Show', course,class:"btn btn-indigo" %>
              <%= link_to 'Edit', edit_course_path(course),class:"btn btn-indigo" %>
              <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-indigo" %>
            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->
         <% end %>
         <%= paginate @courses %>
    </div>
    <!--Main container-->
    
   
  <div class="col-lg-3 col-md-6">
    <%= search_form_for @q do |f| %>
    <%= f.label :name_cont %>
    <%= f.search_field :name_cont,class:"form-control my-0 py-0",placeholder:"Search", style:"max-width: 150px;" %>
    <button class="btn btn-sm btn-info ml-2 px-2">
  <i class="fa fa-search"></i>
  </button>
   <% end %>
   </div>

<%= link_to 'New Course', new_course_path %>

  </main>
  <!--Main layout-->


