<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Video</th>
      <th>Price</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td><%=video_tag(url_for(course.clip),controls:'', style:'width:30px;height:auto') %></td>
        <td><%= course.price %>$</td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
<%= form_tag charges_path, id:'chargeForm' do %>

<% if flash[:error].present? %>
<div id="error_explanation">
<p><%= flash[:error] %></p>
</div>
<% end %>

<script src="https://checkout.stripe.com/checkout.js"></script>
<%= hidden_field_tag 'stripeToken'%>
<%= hidden_field_tag 'amount', 499 %>
<%= hidden_field_tag 'stripeEmail'%>
<button id="btn-buy" type="button" class="btn btn-success btn-lg btn-block"><span class="glyphicon 
glyphicon-ok"></span>Pay</button>

<script>
  var handler = StripeCheckout.configure({
    key: '<%= Rails.configuration.stripe[:publishable_key]%>',
    token: function(token, arg){
      document.getElementById("stripeToken").value=token.id;
      document.getElementById("stripeEmail").value=token.email;
      document.getElementById("chargeForm").submit();
    }
  });
  document.getElementById("btn-buy").addEventListener('click',function(e){
        handler.open({
          name: 'learn rails',
          description: 'Growth hacking crash course($4.99)',
          amount: document.getElementById("amount").value 
        });
        e.preventDefault();
  })
  </script>
<% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
