<p id="notice"><%= notice %></p>
 <link href="https://vjs.zencdn.net/7.5.5/video-js.css" rel="stylesheet" />

  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
 <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<div style="width:400px; height:auto">
  <%=image_tag(@course.thumbnail, style:'width:100%;height:auto') %>
</div>

<div style="width:400px; height:auto">
  <%=video_tag(url_for(@course.clip),controls:'', style:'width:100%;height:auto') %>
</div>
<video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="640"
    height="264"
    download="true"
    poster="<%= url_for(@course.thumbnail) %>"
    data-setup="{}">
    <source src="<%= url_for(@course.clip) %>" type="video/mp4"/>
    
  </video>

<p>
  <strong>Price:</strong>
  <%= @course.price %>
</p>

<%= form_tag charges_path, id:'chargeForm' do %>

<% if flash[:error].present? %>
<div id="error_explanation">
<p><%= flash[:error] %></p>
</div>
<% end %>

<script src="https://checkout.stripe.com/checkout.js"></script>
<%= hidden_field_tag 'stripeToken'%>
<%= hidden_field_tag 'amount',@course.price_in_cents %>
<%= hidden_field_tag 'stripeEmail',current_user.email%>
<%= hidden_field_tag 'course_id', @course.id %>
<button id="btn-buy" type="button" class="btn btn-success btn-lg btn-block"><span class="glyphicon 
glyphicon-ok"></span>Pay</button>

<script>
  var handler = StripeCheckout.configure({
    key: '<%= Rails.configuration.stripe[:publishable_key]%>',
    token: function(token, arg){
      document.getElementById("stripeToken").value=token.id;
      document.getElementById("stripeEmail").value=token.email;
      document.getElementById("chargeForm").submit();
    }
  });
  document.getElementById("btn-buy").addEventListener('click',function(e){
        handler.open({
          name: 'learn rails',
          description: '<%= @course.name %> ($<%= @course.price %>)',
          amount: document.getElementById("amount").value 
        });
        e.preventDefault();
  })
  </script>
<% end %>
 
  <p>List of Comments(Contents below are important)</p>

  <!-- Get an HTML id of this comments_area and update only the part of that div -->
  <div id="comments_area">
    <!-- Render to display the posted comment list on the blogs detail page -->
    <%= render partial: 'comments/index', locals: { comments: @comments, course: @course } %>
  </div>

  <!-- Render to display the comment field on the blogs detail page -->
  <%= render partial: 'comments/form', locals: { comment: @comment, course: @course } %>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>

</div>
<script src="https://vjs.zencdn.net/7.5.5/video.js"></script>


