<!DOCTYPE html>
<html>
  <head>
    <title>GraduationTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="fixed-sn navy-blue-skin">
    <header>
    <!--/. Sidebar navigation -->
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav bg-light">
      <!-- SideNav slide-out button -->
      <div class="logo-text">
        <a class="nav-link"> <span class="clearfix d-none d-sm-inline-block"><i class="fa fa-laptop">Programming Hub</i></span></a>   
      </div>
      
      <ul class="nav navbar-nav nav-flex-icons ml-auto">
        
        <li class="nav-item">
          <i class="fas fa-book"><%= link_to 'Courses', root_path, :class => 'navbar-link',style:'color:black;text-decoration:none' %></i>
        </li>
        <% if user_signed_in? %>
        <li class="nav-item" >
        <% if user_signed_in? && current_user.user_type=="admin" %>
        <li class="nav-item">
          <i class="fas fa-archive"></i><%= link_to 'Payments', payments_path, :class => 'navbar-link',style:'color:black;text-decoration:none;font-weight:bolder;' %></i>
        </li>
        <li class="nav-item">
          <i class="fas fa-users"></i><%= link_to 'Users', users_path, :class => 'navbar-link',style:'color:black;text-decoration:none;font-weight:bolder;padding-right:10px' %></i>
        </li>
        <% end %>
          <i class="fas fa-user"><%= link_to 'Account', edit_user_registration_path, :class => 'navbar-link',style:'color:black;text-decoration:none' %></i>
        </li>
        <li class="nav-item">
          <i class="fas fa-sign-out-alt"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link',style:'color:black;text-decoration:none'  %></i>
        </li>
        <% else %>
        <li class="nav-item">
          <i class="fa fa-user-plus btn btn-sm green-alt text-white btn-rounded font-weight-bold m-0"><%= link_to "Register", new_user_registration_path, style:'color:white;text-decoration:none'  %></i>
        </li>
        <li class="nav-item">
          <i class="fas fa-sign-in-alt btn btn-sm red-alt text-white btn-rounded font-weight-bold m-0"><%= link_to "Login", new_user_session_path,style:'color:white;text-decoration:none;font-weight:bold'  %></i>
        </li>
       <% end %>
      </ul>
    </nav>
    <!-- /.Navbar -->
  </header>
<br><br><br><br><br><br>

    <%= yield %>


<!-- Footer -->
  <footer class="page-footer font-small indigo pt-4 mt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase"><i class="fa fa-laptop">Programming Hub</i></h5>
          <p>Here you can learn any type of programming langage you want or recommend some special course in a comment box.
            when you get stucked on any course here you can put in comment box and we can help you out fastly.
          </p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Contacts</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">tel1: 0788456739</a>
            </li>
            <li>
              <a href="#!">tel2: 0788456739</a>
            </li>
            <li>
              <a href="#!">Email: prohub@gmail.com</a>
            </li>
            <li>
              <a href="#!">instagram: ProgrammingHub</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Address</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Kigali Rwanda</a>
            </li>
            <li>
              <a href="#!">Kicukiro Nyanza</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
       Peter Yves  &nbsp;&nbsp;&nbsp;&nbsp; All Right Reserved
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->


    <!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/js/mdb.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
